$brand-primary-color: #16c5ff;
$brand-primary-darker-color: #02b8f5;
$background-primary-grey: #6c757d;

$custom-blue: #293a80;
$custom-green: #007944;

// :export {
//   brandPrimaryColor: $brand-primary-color;
//   brandPrimaryDarkerColor: $brand-primary-darker-color;
//   backgroundPrimaryGrey: $background-primary-grey;

//   customBlue: $custom-blue;
//   customGreen: $custom-green;
// }
